html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body,button,p,h1,h2,h3{
	font-family: 'Open Sans', sans-serif;
}

ol, ul {
	list-style: none;
}

.color-overlay1 {
  /*background: #EBBA4A;*/
  background: rgb(235, 186, 74, .4);
}
.color-overlay0 {
  /*background: #EBBA4A;*/
  background: rgb(235, 186, 74, .4);
}
.color-overlay2{
  /*background: #E8A03E;*/
  background: rgb(232, 160, 62, .4);
}
.color-overlay3{
  /*background: #5AC6FA;*/
  background: rgb(90, 198, 250, .4);
}
.color-overlay4{
  /*background: #459CE3;*/
  background: rgb(69, 156, 227, .4);
}
.color-overlay5{
  /*background: #E3634D;*/
  background: rgb(227, 99, 77, .4);
}

.color-overlay6{
  /*background: #E3634D;*/
  background: rgb(227, 99, 77, .4);
}



.banner{
	width: 100%;
    height: auto;
    background: #6d6d6d;
    padding: 15px;
}

.container{
	background-image: url(assets/background.jpg);
	background-size: cover;
	display: flex;
	width: 100%;
    height: 100%; 
    object-fit: cover;
    position: absolute;
}

.container div{
	display: flex;
	align-items: center;
	box-sizing: border-box;

}

.container div .konten{
	font-size: 14px;
}

.container div img{
	align-content: center;
	filter: brightness(0) invert(1);
	margin:10px;

}
.banner .text{
	font-size: 12px;
	color:#fff;
	line-height: 1.5;
}

.banner span{
	display: inline;
	margin-bottom: 10px;
	
}

.banner button{
	background: #afaeae;
	
}
.banner span h1{
	color:#fff;
}

.banner span img{
	float: left;
	filter: brightness(0) invert(1);
	margin:10px;
}

.browser-title{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	margin: 10px;
}

.browser-ver{
	font-size: 12px;
	color: #fff;
}

.button {
	margin-top: 10px;
	background-color: Transparent;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #fff;
}

.button:hover {
  background-color: #fff; /* Green */
  color: black;
}

/*responsive*/


@media screen and (min-width: 700px) {
	.container{
		flex-direction: row ;
	}

	.container div{
		flex-direction: column;
		flex: 1;
		justify-content: center;
		padding-bottom: 3%;
	}
	.container div .konten{
		margin-top: 30%;
		padding-top: 350px;
	}	
	.container div img{
		width: 110px;
	}

	.banner{
		position: absolute;
		margin-top: 10%;
		z-index: 1;
	}

	.banner .text{
		margin-left: 17%;
	}

	.banner span img{
		width: 3%;
	}

	.banner span h1{
		font-size: 22px;
		margin-top: 13px;
		padding: 8px;
	}
}

@media screen and (max-width: 700px) {
	.color-overlay0 {
		display: none !important;
	}
	.color-overlay6{
		display: none !important;
	}
	.container{
		position: absolute;
		flex-direction: column ;
		height: 100%;
	}

	.container div{
		flex: 1;
		width: 100%;
	}

	.container div .label{
		display: flex;
		/*flex-grow: 1;*/
		flex-direction: column;
		margin-left: -30%;
		margin-bottom: 10px;
	}

	/*.container div .browser-ver{
		margin-left: 0px;
	}
	.container div .browser-title{
		margin-left: 0px;
	}*/


	.container div img{
		width: 40px;
	}


	.banner{
		width: auto;
	}

	.banner span img{
		width: 8%;
	}

	.banner span h1{
		font-size: 17px;
		padding: 12px;
	}

	.konten button{
		margin-right: 10%;
	}

}

	
}


